---
import { Image } from 'astro:assets';

import gaborImage from '../assets/gabor2.jpg';
import andreaImage from '../assets/andrea.jpg';

import { Icon } from 'astro-icon';

const { user } = Astro.props;
---

<div
  class="flex max-h-full justify-center pt-5 flex-wrap xl:flex-row xl:flex-nowrap"
>
  <div class="p-3 bg-backgroundColor">
    <div class="p-3">
      <Image
        src={user.name == 'Gábor' ? gaborImage : andreaImage}
        alt="gabor"
        class="border-4 border-black"
      />
    </div>
  </div>
  <div class="p-3 m-4 bg-secondaryColor">
    <h1 class="text-primaryColor p-3 text-4xl">
      {user.name}
    </h1>
    <p class="font-judson text-textColor text-2xl p-3 mx-5">
      {user.story}
    </p>
  </div>
</div>
