---
import { Image } from 'astro:assets';

import gaborImage from '../assets/gabor2.jpg';
import andreaImage from '../assets/andrea.jpg';

import { Icon } from 'astro-icon'
const { user } = Astro.props;
---

<div class="flex max-h-full justify-center pt-20 flex-wrap flex-col-reverse xl:flex-row xl:flex-nowrap">
  <div class="p-3 m-4 bg-secondaryColor ">
    <h2 class="text-amber p-3 text-4xl">
      {user.name}
    </h2>
    <p class="font-judson text-textColor text-3xl p-1 pt-8 ">
      Lvl 28-as játékos a Föld nevű szerveren.
      <br><br> Hobbiai a túlélés, programozás, elektornikus zene készítés, videójátékok, overthinking.
    </p>
   

    <div class="flex py-2 px-6 pt-20">
      <Icon name="email-line" class="w-[40px] mr-6 text-primaryColor"/>
      <a href="https://www.instagram.com/gubey666/">koborzaj@gmail.com</a>
    </div>
    <div class="flex py-2 px-6">
      <Icon name="instagram" class="w-[40px] mr-6 text-primaryColor"/>
      <a href="https://www.instagram.com/gubey666/">https://www.instagram.com/gubey666/</a>
    </div>
  <div class="flex py-2 px-6">
    <Icon name="music" class="w-[40px] mr-6 text-primaryColor"/>
    <a href="https://koobor.bandcamp.com/album/trial-and-error ">https://koobor.bandcamp.com/album/trial-and-error </a>
  </div>

   
  </div>
  <div class="p-3 bg-backgroundColor shrink">
    <div class="">
      <Image
        src={user.name == 'Gábor' ? gaborImage : andreaImage}
        alt="gabor"
        class="border-4 border-black"
      />
    </div>
  </div>
</div>
