---
import { Image } from 'astro:assets';

import gaborImage from '../assets/gabor2.jpg';
import andreaImage from '../assets/andrea.jpg';

import { Icon } from 'astro-icon';
const { user } = Astro.props;
---

<div
  class="flex max-h-full justify-center items-center flex-wrap flex-col-reverse xl:flex-row xl:flex-nowrap"
>
  <div class="p-3 m-6 w-fit bg-secondaryColor">
    <h2
      class="p-5 text-center text-[calc(1.5rem+1vw)] text-accentColor2 leading-[1.1]"
      style="text-shadow: 1px 1px orange, 4px 4px black; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; -webkit-text-fill-color: transparent"
    >
      {user.name}
    </h2>
    <p class="font-judson text-textColor text-lg lg:text-2xl p-2 pt-4">
      Lvl 28-as játékos a Föld nevű szerveren.
      <br /><br /> Hobbiai a túlélés, programozás, elektornikus zene készítés, videójátékok,
      overthinking.
    </p>

    <div class="py-10 text-sm lg:text-lg">
      <div class="flex p-3 items-center self-center">
        <div class="w-[50px]">
          <Icon
            name="email-line"
            class="w-[40px] h-[40px] p-1 text-primaryColor"
          />
        </div>
        <a href="https://www.instagram.com/gubey666/" class="mx-3 text-center"
          >koborzaj@gmail.com</a
        >
      </div>
      <div class="flex p-3 items-center self-center">
        <div class="w-[50px]">
          <Icon
            name="instagram"
            class="w-[40px] h-[40px] p-1 text-primaryColor"
          />
        </div>
        <a href="https://www.instagram.com/gubey666/ " class="mx-3"
          >https://www.instagram.com/gubey666/</a
        >
      </div>
      <div class="flex p-3 items-center self-center">
        <div class="w-[50px]">
          <Icon name="music" class="w-[40px] h-[40px] p-1 text-primaryColor" />
        </div>
        <a
          href="https://koobor.bandcamp.com/album/trial-and-error "
          class="mx-3"
          >https://koobor.bandcamp.com/album/trial-and-error
        </a>
      </div>
      <div class="flex p-3 items-center self-center">
        <div class="w-[50px]">
          <Icon name="github" class="w-[40px] h-[40px] p-1 text-primaryColor" />
        </div>
        <a href="https://github.com/ggab13" class="mx-3"
          >https://github.com/ggab13</a
        >
      </div>
    </div>
  </div>
  <div class="p-3 bg-backgroundColor shrink">
    <div class="">
      <Image
        src={user.name == 'Gábor' ? gaborImage : andreaImage}
        alt="gabor"
        class="border-4 w-fit border-black"
      />
    </div>
  </div>
</div>
