---
import { Image } from 'astro:assets';
import logo from '../assets/smileycycle.png';
import beer from '../assets/beer.png';

const blog = './blog';
---

<header>
  <nav
    class="flex p-5 h-100px px-5 w-full content-center items-center justify-between bg-secondaryColor"
  >
    <div class="flex content-center items-center gap-2">
      <Image src={logo} alt="image of logo" class="w-auto h-[50px]" />
      <a
        href="/adventure-time/"
        class="text-primaryColor hover:scale-105 transition-all text-3xl lg:text-4xl"
        ><span class="text-amber">Fun</span>tázia</a
      >
    </div>
    <div class="flex content-center items-center">
      <ul class="hidden md:flex p-3 gap-3">
        <li>
          <a href="/adventure-time/about" class="hover:text-primaryColor"
            >Rólunk</a
          >
        </li>
        <li>
          <a href="/adventure-time/blog" class="hover:text-primaryColor">Blog</a
          >
        </li>
      </ul>

      <button
        onclick="location.href='https://www.buymeacoffee.com/koborzaj'"
        type="button"
        class="text-amber group bg-primaryColor hidden md:inline hover:bg-accentColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
      >
        <div class="flex">
          <Image
            src={beer}
            class="w-auto h-[20px] mr-1 group-hover:-rotate-[30deg]"
            alt="picture of beer"
          />
          Buy us a Beer &nbsp;
        </div>
      </button>
      <!--  <div class="md:hidden space-y-3 cursor-pointer" id="hamburger2">
        <div class="space-y-2 p-2">
          <span
            class="block h-0.5 w-8 animate-pulse transform ease-in-out bg-primaryColor"
          ></span>
          <span class="block h-0.5 w-8 animate-pulse bg-primaryColor"></span>
          <span class="block h-0.5 w-8 animate-pulse bg-primaryColor"></span>
        </div>
      </div> -->
      <div>
        <button
          class="md:hidden relative group space-y-3 cursor-pointer"
          id="hamburger"
        >
          <div
            class="flex flex-col justify-between w-[30px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
          >
            <div
              class="bg-primaryColor h-[2px] w-10 transform transition-all duration-300 origin-left"
            >
            </div>
            <div
              class="bg-primaryColor h-[2px] w-10 rounded transform transition-all duration-300"
            >
            </div>
            <div
              class="bg-primaryColor h-[2px] w-10 transform transition-all duration-300 origin-left"
            >
            </div>

            <div
              class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 flex w-0 group-focus:w-12"
            >
              <div
                class="absolute bg-primaryColor h-[2px] w-6 transform transition-all duration-500 rotate-0 delay-300"
              >
              </div>
              <div
                class="absolute bg-primaryColor h-[2px] w-6 transform transition-all duration-500 -rotate-0 delay-300"
              >
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </nav>
  <div
    class="hidden md:hidden w-full flex flex-col items-center bg-primaryColor transition-all duration-200"
    id="menu"
  >
    <ul class="text-base text-gray-700 pt-4 items-center text-center">
      <li class="">
        <a class="md:p-4 py-1 block hover:text-amber" href="/adventure-time/"
          >Kezdőlap</a
        >
      </li>
      <li class="">
        <a
          class="md:p-4 py-2 block hover:text-amber"
          href="/adventure-time/about">Rólunk</a
        >
      </li>
      <li class="">
        <a
          class="md:p-4 py-2 block hover:text-amber"
          href="/adventure-time/blog">Blog</a
        >
      </li>
    <li class="">
        <a
          class="md:p-4 py-2 block hover:text-amber"
          href="https://www.buymeacoffee.com/koborzaj">Adomány</a
        >
      </li>
    </ul>
  </div>
</header>

<script>
  const hamburger = document.querySelector('#hamburger');
  const menu = document.querySelector('#menu');
  let visible = false;
  let clicked = 0;
  hamburger.addEventListener('click', () => {
    menu.classList.toggle('hidden');
    clicked++;
    if (clicked % 2 == 0) {
      hamburger.classList.toggle('group');
      clicked = 1;
    }
  });
  hamburger.addEventListener('focusout', () => {
    setTimeout(() => {
      menu.classList.toggle('hidden');
    }, 100);
  });
</script>
