---
import { Image } from 'astro:assets';
import logo from '../assets/smileycycle.png';
---

<header>
  <div class="w-auto h-[100px]">
    <Image src={logo} alt=" asd" class="w-auto h-[100px]" />
  </div>
</header>
<nav>
  <ul>
    <li>Home</li>
    <li><a href="/about">About</a></li>
    <li>Blog</li>
  </ul>
</nav>
