---
const { title } = Astro.props;
import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import sevilla from '../assets/sevilla.jpg';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title></head
  >

  <body class="w-full h-screen bg-backgroundColor font-archivo text-textColor">
    <Header />

    <slot />
  </body>
</html>
